[submodule "Bitmask"]
	path = apps/src/Bitmask
	url = https://github.com/leapcode/bitmask_android
[submodule "Conversations"]
	path = apps/src/Conversations
	url = https://github.com/siacs/Conversations
[submodule "k9mail"]
	path = apps/src/k9mail
	url = https://github.com/k9mail/k-9
[submodule "ooniprobe"]
	path = apps/src/ooniprobe
	url = https://github.com/TheTorProject/ooniprobe-android
[submodule "OpenKeychain"]
	path = apps/src/OpenKeychain
	url = https://github.com/open-keychain/open-keychain
[submodule "Signal"]
	path = apps/src/Signal
	url = https://github.com/signalapp/Signal-Android
[submodule "Briar"]
	path = apps/src/Briar
	url = https://code.briarproject.org/akwizgran/briar.git
